<configuration>
  <connectionStrings>
    <add name="Default" connectionString="server=localhost;database=Northwind;user id=sa;password=Password1;Connect Timeout=30;Encrypt=False;TrustServerCertificate=true;ApplicationIntent=ReadWrite;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>